<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria - Start Festas</title>
    <link rel="stylesheet" href="/css/galeria.css">
</head>
<body>
    <nav>
        <div class="nav-title">
            <h1>GALERIA</h1>
        </div>
        <ul>
            <li>
                 <a href="/">Home</a>
            </li>
            <li>
                <a href="/orcamento">Orçamento</a>
            </li>
        </ul>
    </nav>
        <img src="./img/Festas-removebg.png" alt="Logo Start Festas" class="imagem-banner">
    <div class="Galeria-inicio">
        <h2>GALERIA DE FOTOS</h2>
    </div>
    <div class="img-galeria">
        <img src="./img/imagem 1 inicio.jpeg" alt="Imagem 1">
        <img src="./img/imagem 2 inicio.jpg" alt="Imagem 2">
        <img src="./img/imagem 3 inicio.jpg" alt="Imagem 3">
    </div>
    <div class="ver-todas">
        <a href="#" class="btn-ver-todas">Ver todas</a>
    </div>
    <div class="Galeria-video">
        <h2>GALERIA DE VÍDEOS</h2>
    </div>
    <div class="video-galeria">
        <iframe class="video-item" src="https://www.youtube.com/watch?v=ovrbbNKfdRA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="video-item" src="https://www.youtube.com/watch?v=r4ohDxlv9wg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="video-item" src="https://www.youtube.com/watch?v=VmvQzlpvZtc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="ver-mais-video">
        <a href="#" class="btn-ver-todas">Ver mais</a>
    </div>
    <footer>
        <div class="footer-content">
            <div class="social-icons">
                <a href="#" class="social-icon">
                    <img src="./img/facebook-icon (1).png" alt="Facebook">
                </a>
                <a href="#" class="social-icon">
                    <img src="./img/instagram-icon.png" alt="Instagram">
                </a>
            </div>
            <p class="footer-text">2025 - Start Festas - Encantamos crianças, tranquilizamos pais e transformamos momentos em memórias inesquecíveis!</p>
        </div>
    </footer>
</body>
</html>
